.updatebar{
    flex:2;
    border-right: 1px solid rgb(172, 158, 158);
    margin:0;
    padding:20px;
}

.updateContainer{
    margin:0;
    /* padding: 20px; */
}

.profileUpdate{
    margin-top: 10px;
}

.heading{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.profileContent{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.profileContent>label{
    color:rgb(98, 168, 192);
    cursor: pointer;
}

.formContent{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.formContent>label{
    margin-bottom: 5px;
}

.formContent>input{
    margin-bottom: 10px;
    width: 250px;
    padding:5px;
    height: 15px;
    border-radius: none;

}

.updbtn{
    background-color: teal;
    color:white;
    padding:5px 10px;
    border-radius: 20px;
    border:none;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}