.navbar{
    /* padding:20px; */
    height: 60px;
    /* margin:20px; */
    /* border: 1px solid black; */
    border-bottom: 1px solid rgb(219, 211, 211);
    position: sticky;
    top:0;
    z-index: 1;
}

.navbarContainer{
    padding:10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    text-decoration: underline;
    margin-right: 100px;
    cursor: pointer;
}

.menu{
    display: flex;
    list-style: none;
    margin-right: 100px;
}

.menu > li{
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
    
}
input{
    padding:10px;
    width: 400px;
    border-radius: 10px;
    height: 10px;
    border:1px solid gray;
    margin-right: 200px;
    
}

input:focus{
    outline: none;
}

.profile{
    display: flex;
    align-items: center;
}

.profileimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.profileSelect{
    outline: none;
}

.arrow{
    font-size: 20px !important;
    cursor: pointer;
}